<div class="modal fade" id="ModalPasswordLost" tabindex="-1" role="dialog" aria-labelledby="ModalPasswordLostTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{ form_start(form_password, {'attr': {'class': 'form-horizontal'}}) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="ModalPasswordLostTitle">Mot de passe oublié ?</h1>
        <p class="lead">
          Un email avec un nouveau mot de passe va vous être envoyé.
        </p>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group">
            {{ form_label(form_password.email) }}

            <div class="col-sm-6">
              {{ form_widget(form_password.email) }}
              {{ form_errors(form_password.email) }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        {{ form_widget(form_password.reset, {'attr': {'data-dismiss': "modal"}}) }}
        {{ form_widget(form_password.save) }}
      </div>
      {{ form_end(form_password) }}
    </div>
  </div>
</div>
