{% extends 'base_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('list') }}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}

{% block title %}Administration des cartes{% endblock %}

{% block admin_content %}
    <h1>Liste des cartes</h1>
    <a href="{{ path('admin_map_form') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Ajouter une carte</a>
    <table class="table table-striped">
        <thead class="bg-primary text-white">
            <tr>
                {% for id, label in fields %}<th>{{ label }}</th>{% endfor %}
                <th class="d-none d-lg-table-cell">Créé par</th>
                <th class="d-none d-lg-table-cell">Créé le</th>
                <th class="d-none d-lg-table-cell">Modifié par</th>
                <th class="d-none d-lg-table-cell">Modifié le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    {% for id, label in fields %}<th>{{ attribute(entity, id) }}</th>{% endfor %}
                    <td class="d-none d-lg-table-cell">{{ entity.createBy }}</td>
                    <td class="d-none d-lg-table-cell">{{ entity.createAt|date("d/m/Y H:i:s") }}</td>
                    <td class="d-none d-lg-table-cell">{{ entity.updateBy }}</td>
                    <td class="d-none d-lg-table-cell">{{ entity.updateAt|date("d/m/Y H:i:s") }}</td>
                    <td>
                        <a href="{{ path('admin_map_form', {'map': entity.id}) }}" class="btn btn-outline-info view_link" title="Editer"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a href="" data-href="{{ path('admin_map_delete', {'map': entity.id}) }}" data-toggle="modal" data-target="#modal-confirm-delete" class="btn btn-outline-danger view_link" title="Supprimer"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'partials/modals/delete.html.twig' with {'label': 'actualité'} %}
{% endblock %}
