{% extends 'base_admin.html.twig' %}

{% block body %}
<div class="col-md-12">
  <h1>Administration des courses</h1>
</div>

<div class="col-md-3">
  <div class="list-group">
    <a href="/admin/calendrier" class="list-group-item {% if form.vars.data.id == null %}active{% endif %}">
      <i class="fa fa-plus-circle"></i> Nouvelle course
    </a>
    {% for course in courses %}
    <a href="/admin/calendrier/{{course.getId()}}/" class="list-group-item {% if form.vars.data.id == course.getId() %}active{% endif %}">
      {{course.getNom()}}
    </a>
    {% endfor %}
  </div>
</div>

<div class="col-md-1">
</div>

<div class="col-md-6">
  <div class="row">

    {% include 'template/messages.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
      <h2>Modification de la course</h2>
      <p class="lead">N'oubliez pas d'enregistrer !</p>
      {{ form_errors(form) }}

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#general" data-toggle="tab" aria-expanded="false" style="color:gray;">Général</a>
        </li>
        <li class="">
          <a href="#inscription" data-toggle="tab" aria-expanded="true" style="color:gray;">Inscription</a>
        </li>
        <li class="">
          <a href="#circuit" data-toggle="tab" aria-expanded="true" style="color:gray;">Circuits</a>
        </li>
        <li class="">
          <a href="#fichier" data-toggle="tab" aria-expanded="true" style="color:gray;">Fichiers</a>
        </li>
      </ul>

      <div id="formulaire" class="tab-content">
        <div class="tab-pane fade active in" id="general">
          <div class="row-divider"></div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.nom, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

              <div class="col-sm-6">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.date, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

              <div class="col-sm-6">
                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.date) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.lieu, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

              <div class="col-sm-6">
                {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.lieu) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.type, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

              <div class="col-sm-6">
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.type) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.organisateur, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

              <div class="col-sm-6">
                {{ form_widget(form.organisateur, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.organisateur) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.gps, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

              <div class="col-sm-6">
                {{ form_widget(form.gps, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.gps) }}
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="inscription">
          <div class="row-divider"></div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.inscription, null, {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
              <div class="col-sm-6 material-switch pull-right">
                {{ form_widget(form.inscription, {'attr': {'class': 'form-control'}}) }}
                <label for="course_inscription" class="label-switch"></label>
                {{ form_errors(form.inscription) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.modification, null, {'label_attr': {'class': 'col-sm-6 control-label'}}) }}

              <div class="col-sm-6">
                {{ form_widget(form.modification, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.modification) }}
              </div>
            </div>
          </div>

        </div>


        <div class="tab-pane fade" id="circuit">
          <div class="row-divider"></div>

          <ul class="circuits" data-prototype="{{ form_widget(form.circuits.vars.prototype)|e('html_attr') }}">
              ...
          </ul>

          <script>
          var $collectionHolder;

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.circuits');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
    });
});

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
}
          </script>

        <div class="tab-pane fade" id="fichier">
          <div class="row-divider"></div>
          <div class="row">
            <div class="form-group">
              {{ form_label(form.annonce, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
              <div class="col-sm-6">
                {{ form_widget(form.annonce, {'attr': {'class': ''}}) }}
                {{ form_errors(form.annonce) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.files, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

              <div class="col-sm-6">
                {{ form_widget(form.files, {'attr': {'class': ''}}) }}
                {{ form_errors(form.files) }}
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <button class="btn btn-default" type="reset">Annuler</button>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        {% if form.vars.data.id %}
        <button class="btn btn-danger" type="submit">Supprimer la course</a>
          {% endif %}
        </div>
      </fieldset>
      {{ form_end(form) }}
    </div>
  </div>

  {% endblock %}

  {% block stylesheets %}
  {% endblock %}
