{% if course is defined %}

    {% set color = 'black' %}
    {% if course.type and course.type.color and course.type.color != '' %}
    {% set color = course.type.color %}
    {% endif %}

    <h2 style="color: {{color}};" class="bold">{{ course.nom }}</h2>
    <ul class="row m-0 text-list" style="border-color:{{color}}">
      <li class="col-md-2"><b><i class="fa fa-calendar"></i> {{ "calendar.date" | trans }}</b> <p class="lead" style="color:{{color}}; font-weight:bold">{{ course.date | format_datetime('d MMMM YYYY', 'fr', 'Europe/Paris') }}</p></li>

      {% if course.lieu %}
      <li class="col-md-2"><b><i class="fa fa-map-marker"></i> {{ "calendar.location" | trans }}</b> <p class="lead" style="color:{{color}}; font-weight:bold">{{course.lieu | capitalize }}</p></li>
      {% endif %}

      {% if course.type %}
      <li class="col-md-2"><b><i class="fa fa-tag"></i> {{ "calendar.type" | trans }}</b> <p class="lead" style="color:{{color}}; font-weight:bold">{{course.type.nom}}</p></li>
      {% endif %}

      {% if course.organisateur %}
      <li class="col-md-2"><b><i class="fa fa-user"></i> {{ "calendar.organised.by" | trans }}</b> <p class="lead" style="color:{{color}}; font-weight:bold">{{course.organisateur}}</p></li>
      {% endif %}

      <li class="col-md-4"><b><i class="fa fa-sign-in"></i> {{ "calendar.entries" | trans }}</b>
        {% if course.inscription and not is_past(course.modification | date('Y-m-d H:i:s')) %}
        <p class="lead" style="color:{{color}}; font-weight:bold">{{ "calendar.entries.limit" | trans }} {{course.modification | format_datetime('d MMMM YYYY à HH:mm:ss', 'fr', 'Europe/Paris')}}</p>
        {% elseif course.inscription %}
        <p class="lead" style="color:{{color}}; font-weight:bold">{{ "calendar.entries.ended" | trans }}</p>
        {% else %}
        <p class="lead" style="color:{{color}}; font-weight:bold">{{ "calendar.see.with.organisator" | trans }}</p>
        {% endif %}
      </li>
    </ul>

{% endif %}
