{{ form_start(notification_form, {'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
  <h2>Gestion des notifications</h2>
  <p class="lead">La newsletter est réservée au licencié du Quimper Orientation</p>
  {{ form_errors(notification_form) }}

  <div class="row">
    <div class="form-group">
      {{ form_label(notification_form.newsletter) }}
      <div class="col-sm-6 material-switch pull-right">
        {{ form_widget(notification_form.newsletter) }}
        <label for="user_notification_newsletter" class="label-switch"></label>
        {{ form_errors(notification_form.newsletter) }}
      </div>
    </div>
  </div>

  <div class="row">
    {{ form_widget(notification_form.reset) }}
    {{ form_widget(notification_form.save) }}
  </div>
</fieldset>

{{ form_end(notification_form) }}
