{{ form_start(notification_form, {'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
  <h2>Gestion des options</h2>
  <p class="lead">Permet de gérer les différentes options proposées par le site.</p>
  {{ form_errors(option_form) }}

  <div class="row">
    <div class="form-group">
      {{ form_label(option_form.users) }}

      <div class="col-sm-6">
        {{ form_widget(option_form.users) }}
        {{ form_errors(option_form.users) }}
      </div>
    </div>
  </div>

  <div class="row">
    {{ form_widget(option_form.reset) }}
    {{ form_widget(option_form.save) }}
  </div>
</fieldset>

{{ form_end(notification_form) }}
