<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Quimper Orientation Coatarmor 29{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
  <link href="{{ asset( 'css/bootstrap.css' ) }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset( 'css/style.css' ) }}" rel="stylesheet" type="text/css" />

  <link href="{{ asset( 'css/font-awesome.css' ) }}" rel="stylesheet" type="text/css" />

  <script src="{{ asset( 'js/jquery.js' ) }}"></script>
  <script src="{{ asset( 'js/bootstrap.js' ) }}"></script>
  <script src="{{ asset( 'js/bootstrap-tab.js' ) }}"></script>
</head>
<body>


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Quimper Orientation</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Le club <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/club/presentation">Présentation</a></li>
              <li><a href="/club/rejoindre">Nous rejoindre</a></li>
              <li><a href="/club/ecole">L'école de CO</a></li>
              <li><a href="/club/contact">Contacts</a></li>
            </ul>
          </li>

          <li><a href="#">Link</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      {% block body %}{% endblock %}
    </div>
  </div>

  {% block javascripts %}{% endblock %}

  <div class="logo-bottom">

  </div>
  <div class="footer-page">
    <div>
      <img src="{{ asset( 'images/logo/logo-club.gif' ) }}" style="width:120px;height:100px;">
      <img src="{{ asset( 'images/logo/logo-ffco.png' ) }}" style="width:150px;height:100px;">
    </div>
    <a href="/help">Aide</a> |
    <a href="/about">A propos</a> |
    <a href="/contacter/webmaster">Contacter le Webmaster</a>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="navbar-content">
      Site du Quimper Orientation - Version {{ nVersion }} ({{ dVersion }}) - {{ author }}
    </div>
  </nav>
</body>
</html>
