<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Quimper Orientation Coatarmor 29</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    <link href="{{ asset( 'css/bootstrap.css' ) }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset( 'css/style.css' ) }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset( 'css/responsive.css' ) }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset( 'css/font-awesome.css' ) }}" rel="stylesheet" type="text/css" />

    {% block javascript %}
    <script src="{{ asset( 'js/jquery.js' ) }}"></script>
    <script src="{{ asset( 'js/bootstrap.js' ) }}"></script>
    <script src="{{ asset( 'js/bootstrap-tab.js' ) }}"></script>
    {% endblock %}
</head>

<body>
    {% block header %}
    {% if app.user != null and 'admin' in app.request.uri %}
    {% include ':Navbar:header_admin.html.twig' %}
    {% else %}
    {% include ':Navbar:header_default.html.twig' %}
    {% endif %}
    {% endblock %}

    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include ':Navbar:footer.html.twig' %}
</body>

</html>
