{% extends 'AdminBundle::form_default.html.twig' %}

{% block modal_title %}Édition d'une actualité{% endblock %}

{% block modal_body %}
<div class="row">
    <div class="form-group">
        {{ form_label(form.titre) }}
        <div class="col-sm-9">
            {{ form_widget(form.titre) }}
            {{ form_errors(form.titre) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        {{ form_label(form.contenu) }}

        <div class="col-sm-9">
            {{ form_widget(form.contenu) }}
            {{ form_errors(form.contenu) }}
        </div>
    </div>
</div>
{% endblock %}

{% block path_add %}"{{ path('actualite_add') }}"{% endblock %}
