{% for actualite in actualites %}
    <tr>
        <td> {{ actualite.id }} </td>
        <td> {{ actualite.dateCreation | format_datetime('dd MMMM YYYY', 'fr', 'Europe/Paris') }} </td>
        <td> {{ actualite.titre }} </td>
        <td>
            <i class="fa fa-edit" style="color: orange;cursor:pointer;margin-right:0.5em;" onclick="form( {{actualite.id}} )"></i>
            <i class="fa fa-times" style="color: red;cursor:pointer;" onclick="unregister( {{actualite.id}} )"></i>
        </td>
    </tr>
{% endfor %}
