<div class="footer-page">
  <div>
    <img src="{{ asset("images/logo/logo-club.gif") }}">
    <img src="{{ asset("images/logo/logo-ffco.png") }}">
  </div>
  <a href="/help">{{ "help" | trans }}</a> |
  <a href="/about">{{ "about" | trans }}</a> |
  <a href="/contacter/webmaster">{{ "contact.administrator" | trans }}</a>
</div>

<nav class="navbar navbar-inverse">
  <div class="navbar-content">
    Site du {{ site_name }} - Version {{ nVersion }} ({{ dVersion }}) - {{ author }}
  </div>
</nav>
