<div class="footer-page">
  <div>
    <img src="{{ asset( 'images/logo/logo-club.gif' ) }}" style="width:120px;height:100px;">
    <img src="{{ asset( 'images/logo/logo-ffco.png' ) }}" style="width:150px;height:100px;">
  </div>
  <a href="/help">Aide</a> |
  <a href="/about">A propos</a> |
  <a href="/contacter/webmaster">Contacter le Webmaster</a>
</div>

<nav class="navbar navbar-inverse">
  <div class="navbar-content">
    Site du Quimper Orientation - Version {{ nVersion }} ({{ dVersion }}) - {{ author }}
  </div>
</nav>
