<div class="footer-page">
  <div>
    {% for l in logo %}
        <img src="{{ asset( l ) }}">
    {% endfor %}
  </div>
  <a href="/help">{{ "help" | trans }}</a> |
  <a href="/about">{{ "about" | trans }}</a> |
  <a href="/contacter/webmaster">{{ "contact.administrator" | trans }}</a>
</div>

<nav class="navbar navbar-inverse">
  <div class="navbar-content">
    Site du {{ site_name }} - Version {{ nVersion }} ({{ dVersion }}) - {{ author }}
  </div>
</nav>
