<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ "app.name" | trans }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ "nav.club" | trans }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/club/presentation">{{ "nav.club.presentation" | trans }}</a></li>
                        <li><a href="/club/rejoindre">{{ "nav.club.join" | trans }}</a></li>
                        <li><a href="/club/ecole">{{ "nav.club.school" | trans }}</a></li>
                        <li><a href="/club/contact">{{ "nav.club.contact" | trans }}</a></li>
                    </ul>
                </li>
                <li><a href="/calendrier">{{ "nav.calendar" | trans }}</a></li>
                <li class="dropdown">
                    <a href="/inscription/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ "nav.entries" | trans }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/inscription/consulter">{{ "nav.entries.view" | trans }}</a></li>
                        <li><a href="/inscription/inscrire">{{ "nav.entries.entry" | trans }}</a></li>
                        <li><a href="/inscription/recuperation">{{ "nav.entries.get" | trans }}</a></li>
                    </ul>
                </li>
                <li><a href="/resultats">{{ "nav.result" | trans }}</a></li>
                <li><a href="/parcours">{{ "nav.map" | trans }}</a></li>
            </ul>
            {% if app.user != null %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        {{app.user.username}}
                        <span class="badge" title="Nombre de course à venir, où vous êtes inscrits">
                            {{ sizeof(app.user.inscrits) }}
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/account/parameter">
                                <i class="fa fa-cog"></i> {{ "nav.account.parameters" | trans }}
                            </a>
                        </li>
                        <li>
                            <a href="/account/calendar">
                                <i class="fa fa-calendar"></i> {{ "nav.account.calendar" | trans }}
                            </a>
                        </li>
                        {% if is_granted('ROLE_WEBMASTER') %}
                        <li class="divider"></li>
                        <li>
                            <a href="/account/mail">
                                <i class="fa fa-envelope"></i> {{ "nav.account.webmail" | trans }}
                            </a>
                        </li>
                        <li>
                            <a href="/document">
                                <i class="fa fa-folder"></i> {{ "nav.account.documents" | trans }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/admin">
                                <i class="fa fa-terminal"></i> {{ "nav.account.switch.admin" | trans }}
                            </a>
                        </li>
                        {% endif %}

                        <li class="divider"></li>
                        <li>
                            <a href="/logout">
                                <i class="fa fa-sign-out"></i> {{ "nav.account.logout" | trans }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="/login" class="navbar-link dropdown-toggle">
                        <i class="fa fa-sign-in"></i> S'identifier
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/register">
                                Créer un compte
                            </a>
                        </li>

                        <li>
                            <a href="/login">
                                S'identifier
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
