{% extends 'AdminBundle::form_default.html.twig' %}

{% block modal_title %}Édition d'un rôle{% endblock %}

{% block modal_body %}
<div class="row">
    <div class="form-group">
        {{ form_label(form.user) }}
        <div class="col-sm-9">
            {{ form_widget(form.user) }}
            {{ form_errors(form.user) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        {{ form_label(form.role) }}
        <div class="col-sm-9">
            {{ form_widget(form.role) }}
            {{ form_errors(form.role) }}
        </div>
    </div>
</div>
{% endblock %}

{% block path_add %}"{{ path('role_add') }}"{% endblock %}
