{% extends 'base.html.twig' %}

{% block content_body %}
<div class="row py-4">
    <div class="col-12 col-lg-10 offset-lg-1">
        <h1>Inscription à <span class="text-primary">{{ event.title }}</span></h1>
        <div class="mb-4">
            <table>
                <tr><td class="font-weight-bold pr-4">Date</td><td>{{ event.dateBegin|format_datetime('full', 'medium', locale='fr')|capitalize }}</td></tr>
                {% if event.dateEntries is not empty %}<tr><td class="font-weight-bold pr-4">Date limite d'inscription</td><td>{{ event.dateEntries|format_datetime('full', 'medium', locale='fr')|capitalize }}</td></tr>{% endif %}
                {% if event.format is not empty %}<tr><td class="font-weight-bold pr-4">Type</td><td>{{ event.format.label|capitalize }}</td></tr>{% endif %}
                {% if event.organizer %}<tr><td class="font-weight-bold pr-4">Organisateur</td><td>{{ event.organizer|capitalize }}</td></tr>{% endif %}
                {% if event.website %}<tr><td class="font-weight-bold pr-4">Site Web</td><td><a target="_BLANK" href="{{ event.website }}">{{ event.website }}</a></td></tr>{% endif %}
            </table>
        </div>
        <div class="my-4">
            <a href="{{ path('pi_crud_show', {'type': 'event', 'id': event.id}) }}" class="btn btn-primary">Retourner sur la page de l'évènement</a>
        </div>

        <div class="dropdown show my-4">
            <a class="btn btn-lg btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Club {{ club }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for club in clubs %}
                    <a class="dropdown-item" href="{{ path('app_event_entry', {'id': event.id, 'mode': 'club', 'club': club.id}) }}">{{ club.id ~ ' - ' ~ club.label }}</a>
                {% endfor %}
            </div>
        </div>

        {% if event.circuits|length %}
            {% set input_circuits = '<select class="form-control" name="entry_form[__ID__][circuit]">' %}

            {% for circuit in event.circuits %}
                {% set input_circuits = input_circuits ~ '<option value="' ~ circuit.id ~ '" ' ~ (loop.index0 == 0 ? 'selected') ~ '>' ~ circuit.label ~ '</option>' %}
            {% endfor %}

            {% set input_circuits = input_circuits ~'</select>' %}
        {% endif %}

        {% set input_comment = '<textarea class="form-control" name="entry_form[__ID__][comment]" rows="1"></textarea>' %}

        <form name="club_entry_form" method="POST">
            <table class="table table-striped">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N° puce SportIdent</th>
                        {% if event.circuits|length %}<th>Circuit</th>{% endif %}
                        <th>Commentaire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in club.members %}
                        <tr>
                            <td class="form-check">
                                <input type="checkbox" name="entry_form[{{ member.id }}][entry]" />
                            </td>
                            <td>
                                {{ member.lastName }}
                            </td>
                            <td>
                                {{ member.firstName }}
                            </td>
                            <td>
                                <input class="form-control" type="text" value="{{ member.si }}" name="entry_form[{{ member.id }}][si]" />
                            </td>
                            {% if event.circuits|length %}
                                <td>
                                    {{ input_circuits|replace({'__ID__': member.id})|raw }}
                                </td>
                            {% endif %}
                            <td>
                                {{ input_comment|replace({'__ID__': member.id})|raw }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input class="btn btn-primary" type="submit" value="Enregistrer les inscriptions" />
        </form>
    </div>
</div>
{% endblock content_body %}
