{% extends 'base_admin.html.twig' %}

{% block body %}
<div class="col-md-12">
  <h1>Administration des parcours permanent</h1>
</div>
<div class="col-md-3">
  <div class="list-group">
    <a href="/admin/parcours/" class="list-group-item {% if form.vars.data.id == null %}active{% endif %}">
      <i class="fa fa-plus-circle"></i> Nouvelle carte
    </a>
    {% for carte in cartes %}
    <a href="/admin/parcours/{{carte.getId()}}/" class="list-group-item {% if form.vars.data.id == carte.getId() %}active{% endif %}">
      {{carte.getNom()}}
    </a>
    {% endfor %}
  </div>
</div>

<div class="col-md-1">
</div>

<div class="col-md-6">
  <div class="row">

    {% include 'template/messages.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
      <h2>Modification de la carte</h2>
      <p class="lead">N'oubliez pas d'enregistrer ! Si vous ne sélectionnez aucun fichier, l'ancien sera préservé.</p>
      {{ form_errors(form) }}

      <div class="row">
        <div class="form-group">
          {{ form_label(form.nom, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

          <div class="col-sm-6">
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nom) }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          {{ form_label(form.file, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

          <div class="col-sm-6">
            {{ form_widget(form.file, {'attr': {'class': ''}}) }}
            {{ form_errors(form.file) }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          {{ form_label(form.alert, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
          <div class="col-sm-6 material-switch">
            {{ form_widget(form.alert, {'attr': {'class': 'form-control'}}) }}
            <label for="carte_alert" class="label-switch"></label>
            {{ form_errors(form.alert) }}
          </div>
        </div>
      </div>

      <div class="row">
        <button class="btn btn-default" type="reset">Annuler</button>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        {% if form.vars.data.id %}
        <button class="btn btn-danger" type="submit">Supprimer la carte</button>
        {% endif %}
      </div>
    </fieldset>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
