<!--
forms.user.html.twig
A form component
Form for an user

@param $form_user AppBundle\Form\Type\UserType
!-->

{{ form_start(form_user, {'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
  {{ form_errors(form_user) }}

  <div class="row">
    <div class="form-group">
      {{ form_label(form_user.username) }}

      <div class="col-sm-6">
        {{ form_widget(form_user.username) }}
        {{ form_errors(form_user.username) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      {{ form_label(form_user.email) }}

      <div class="col-sm-6">
        {{ form_widget(form_user.email) }}
        {{ form_errors(form_user.email) }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      {{ form_label(form_user.plainPassword.first) }}

      <div class="col-sm-6">
        {{ form_widget(form_user.plainPassword.first) }}
        {{ form_errors(form_user.plainPassword.first) }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      {{ form_label(form_user.plainPassword.second) }}

      <div class="col-sm-6">
        {{ form_widget(form_user.plainPassword.second) }}
        {{ form_errors(form_user.plainPassword.second) }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      {{ form_label(form_user.license) }}

      <div class="col-sm-6">
        {{ form_widget(form_user.license) }}
        {{ form_errors(form_user.license) }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      {{ form_label(form_user.nom) }}

      <div class="col-sm-6">
        {{ form_widget(form_user.nom) }}
        {{ form_errors(form_user.nom) }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      {{ form_label(form_user.prenom) }}

      <div class="col-sm-6">
        {{ form_widget(form_user.prenom) }}
        {{ form_errors(form_user.prenom) }}
      </div>
    </div>
  </div>

  <div class="row">
    {{ form_widget(form_user.reset) }}
    {{ form_widget(form_user.save) }}
  </div>
</fieldset>
{{ form_widget(form_user, {'attr': {'class': 'hidden'}}) }}
{{ form_end(form_user) }}
