<!--
forms.inscrits_update.html.twig
A form component
Form for update inscrits

@param $form AppBundle\Form\Type\Course
!-->

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
  {{ form_errors(form) }}

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Puce</th>
        <th>Circuit</th>
        <th>Commentaire</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% set i = 0 %}
      {% for inscrit in form.inscrits %}
      {% set i = i + 1 %}
      <tr class="{% if inscrit.puce.vars.errors | length %}warning{% endif %}">
        <td>{{ form_widget(inscrit.nom, {'attr': {'class': 'form-control'}}) }}</td>
        <td>{{ form_widget(inscrit.prenom, {'attr': {'class': 'form-control'}}) }}</td>
        <td>{{ form_widget(inscrit.puce, {'attr': {'class': 'form-control'}}) }}</td>
        <td>
          <select id="inscrit_admin_update_inscrits_{{i - 1}}_circuit" name="inscrit_admin_update[inscrits][{{i - 1}}][circuit]" class="form-control">
            <option value=""></option>

            {% for choice in inscrit.vars.data.course.circuits %}
                <option value="{{ choice.id }}" {% if inscrit.vars.data.circuit != null and choice == inscrit.vars.data.circuit %} selected="selected"{% endif %}>
                  {{ choice.nom }}
                </option>
            {% endfor %}
          </select>
        </td>
        <td>{{ form_widget(inscrit.commentaire, {'attr': {'class': 'form-control'}}) }}</td>
        <td>
          <a href="{{ path('admin_inscription_delete', { 'course': form.vars.data.id, 'id': inscrit.id.vars.value }) }}">
            <i class="fa fa-2x fa-times" style="color: red;cursor:pointer;"></i>
          </a>
        </td>
      </tr>
      {{ form_widget(inscrit, {'attr': {'class': 'hidden'}}) }}
      {% endfor %}
    </tbody>
  </table>

  <div class="row">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
  </div>
</fieldset>
{{ form_widget(form, {'attr': {'class': 'hidden'}}) }}
{{ form_end(form) }}
