{% extends 'base.html.twig' %}

{% block title %}
    {{ news }}
{% endblock %}

{% block content_header %}
<div id="content-header" class="carousel border-bottom border-primary slide" data-ride="carousel">
    <div class="carousel-inner bg-dark" role="list">
        <div role="listitem" class="carousel-item active">
            <img class="first-slide opacity-20" src="{{ asset(news.image.name is not null ? 'images/' ~ news.image.name : 'images/default.jpg') | imagine_filter('carousel_header') }}" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-1">
                    <h1>{{ news.title }}</h1>
                    <div class="text-white font-italic">
                        Publié le {{ news.createAt|date() }}
                        <br/>Modifié le {{ news.updateAt|date() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_WEBMASTER') %}
    <div class="admin-quick-edit">
        {% block content_admin_actions %}{% endblock %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block content_body %}
<div class="row py-4">
    <div class="col-12 col-lg-10 offset-lg-1">
        {{ news.content|raw }}

        {% if news.files|length > 0 %}
        <h3>Fichiers joints</h3>
        {% endif %}
        {% for file in news.files %}
        <div class="card mb-4">
            <div class="card-body">
                <a class="text-dark stretched-link" href="{{ asset('files/' ~ file.fileName) }}"><i class="fa fa-download"></i> {{ file }}</a><span class="d-none d-lg-block float-right">Télécharger le fichier</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
