<h3>Configurations générales</h3>
<div class="row">
    <div class="form-group">
        {{ form_label(form.site_name) }}
        <div class="col-sm-9">
            {{ form_widget(form.site_name) }}
            {{ form_errors(form.site_name) }}
        </div>
    </div>
</div>

<h3>Configurations des couleurs et styles</h3>
<div class="row">
    <div class="form-group">
        {{ form_label(form.color_primary) }}
        <div class="col-sm-9">
            {{ form_widget(form.color_primary) }}
            {{ form_errors(form.color_primary) }}
        </div>
    </div>
</div>

<h3>Configurations des images</h3>
<div class="row">
    <div class="form-group">
        {{ form_label(form.image_bandeau) }}
        <div class="col-sm-9">
            {{ form_widget(form.image_bandeau) }}
            {{ form_errors(form.image_bandeau) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_label(form.logo) }}
        <div class="col-sm-9">
            {{ form_widget(form.logo) }}
            {{ form_errors(form.logo) }}
        </div>
    </div>
</div>
