{% extends '::base.html.twig' %}

{% block title %}
    {% include '::Navbar/title.html.twig' with {'title': "Administration du site", 'subtitle': "Modification des paramètres de base du site, un rafraichissement de la page sera nécessaire."} %}
{% endblock %}

{% block content %}
    {% include '::Message/message.html.twig' %}

    <div class="col-md-9">
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'form'}}) }}
        {{ form_errors(form) }}

        <ul class="nav nav-tabs">
            <li class="active"><a  href="#generale" data-toggle="tab">Générales</a></li>
            <li><a  href="#systeme" data-toggle="tab">Système</a></li>
            <li><a  href="#module" data-toggle="tab">Modules</a></li>
            <li><a  href="#version" data-toggle="tab">Version</a></li>
            <li><a  href="#langue" data-toggle="tab">Langue</a></li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="generale">
                {% include 'ConfigurationBundle:Configuration:generale.html.twig' %}
            </div>
            <div class="tab-pane" id="systeme">
                {% include 'ConfigurationBundle:Configuration:systeme.html.twig' %}
            </div>
            <div class="tab-pane" id="module">
                {% include 'ConfigurationBundle:Configuration:module.html.twig' %}
            </div>
            <div class="tab-pane" id="version">
                {% include 'ConfigurationBundle:Configuration:version.html.twig' %}
            </div>
            <div class="tab-pane" id="langue">
                {% include 'ConfigurationBundle:Configuration:langue.html.twig' %}
            </div>
        </div>

        {{ form_widget(form.reset) }}
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
