<h2>Configurations des modules</h2>
<h3>Module Club</h3>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_club) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_club) }}
            {{ form_errors(form.module_club) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_label(form.club_name) }}
        <div class="col-sm-9">
            {{ form_widget(form.club_name) }}
            {{ form_errors(form.club_name) }}
        </div>
    </div>
</div>

<h3>Module Calendrier</h3>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_calendrier) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_calendrier) }}
            {{ form_errors(form.module_calendrier) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_label(form.calendrier_name) }}
        <div class="col-sm-9">
            {{ form_widget(form.calendrier_name) }}
            {{ form_errors(form.calendrier_name) }}
        </div>
    </div>
</div>

<h3>Module Inscription</h3>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_inscription) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_inscription) }}
            {{ form_errors(form.module_inscription) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_label(form.inscription_name) }}
        <div class="col-sm-9">
            {{ form_widget(form.inscription_name) }}
            {{ form_errors(form.inscription_name) }}
        </div>
    </div>
</div>

<h3>Module Résusltat</h3>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_resultat) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_resultat) }}
            {{ form_errors(form.module_resultat) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_label(form.resultat_name) }}
        <div class="col-sm-9">
            {{ form_widget(form.resultat_name) }}
            {{ form_errors(form.resultat_name) }}
        </div>
    </div>
</div>

<h3>Module Cartes</h3>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_carte) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_carte) }}
            {{ form_errors(form.module_carte) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_label(form.carte_name) }}
        <div class="col-sm-9">
            {{ form_widget(form.carte_name) }}
            {{ form_errors(form.carte_name) }}
        </div>
    </div>
</div>

<h3>Module Définition</h3>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_definition) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_definition) }}
            {{ form_errors(form.module_definition) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_label(form.definition_name) }}
        <div class="col-sm-9">
            {{ form_widget(form.definition_name) }}
            {{ form_errors(form.definition_name) }}
        </div>
    </div>
</div>
