<h3>Configurations des modules</h3>
<h4>Module Club</h4>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_club) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_club) }}
            {{ form_errors(form.module_club) }}
        </div>
    </div>
</div>

<h4>Module Calendrier</h4>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_calendrier) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_calendrier) }}
            {{ form_errors(form.module_calendrier) }}
        </div>
    </div>
</div>

<h4>Module Inscription</h4>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_inscription) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_inscription) }}
            {{ form_errors(form.module_inscription) }}
        </div>
    </div>
</div>

<h4>Module Résultat</h4>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_resultat) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_resultat) }}
            {{ form_errors(form.module_resultat) }}
        </div>
    </div>
</div>

<h4>Module Cartes</h4>
<div class="row">
    <div class="form-group">
        {{ form_label(form.module_carte) }}
        <div class="col-sm-9">
            {{ form_widget(form.module_carte) }}
            {{ form_errors(form.module_carte) }}
        </div>
    </div>
</div>
