<h3>Configurations version</h3>

<div class="row">
    <div class="form-group">
        {{ form_label(form.nVersion) }}
        <div class="col-sm-9">
            {{ form_widget(form.nVersion) }}
            {{ form_errors(form.nVersion) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        {{ form_label(form.dVersion) }}
        <div class="col-sm-9">
            {{ form_widget(form.dVersion) }}
            {{ form_errors(form.dVersion) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        {{ form_label(form.author) }}
        <div class="col-sm-9">
            {{ form_widget(form.author) }}
            {{ form_errors(form.author) }}
        </div>
    </div>
</div>
