<h2>L'annonce de course, les horaires, le site, ...</h2>
<p class="lead">Tous les fichiers importants liés à cet événement.</p>
{% if course.site %}
  <a href="{{course.site}}" class="btn btn-square-toround btn-bordered-primary"><span class="fa fa-info"></span> Site Internet</a>
{% endif %}

{% if annonce_exists(course.id) %}
  <a href="/files/courses/{{course.id}}/annonce.pdf" target="_BLANK" class="btn btn-square-toround btn-bordered-info"><span class="fa fa-flag"></span> Annonce de course</a>
{% endif %}

{% for file in get_files(course.id) %}
  {% if is_file(file) %}
    <a href="/files/courses/{{course.id}}/autres/{{basename(file, '')}}" target="_BLANK" class="btn btn-square-toround btn-bordered-warning"><span class="fa fa-leaf"></span> {{basename(file, '.*')}}</a>
  {% endif %}
{% endfor %}
