<div class="modal fade" id="ModalQuickEntries" tabindex="-1" role="dialog" aria-labelledby="ModalQuickEntriesTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="ModalQuickEntriesTitle">S'inscrire à {{course.nom}}</h1>
        <p class="lead">
          Du {{ course.date | format_datetime('d MMMM YYYY', 'fr', 'Europe/Paris') }}
          <br>À {{course.lieu}}
        </p>
      </div>
      <div class="modal-body">
        <p class="lead">Vérifiez les informations ci-dessous et enregistrez !</p>
        {{ form_errors(form) }}
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th></th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Puce</th>
              <th>Circuit</th>
              <th>Commentaire</th>
            </tr>
          </thead>
          <tbody>
            {% for inscrit in form.inscrits %}
            <tr>
              <td>{{ form_widget(inscrit.add) }}</td>
              <td>{{ form_widget(inscrit.nom) }}</td>
              <td>{{ form_widget(inscrit.prenom) }}</td>
              <td>{{ form_widget(inscrit.puce) }}</td>
              <td>{{ form_widget(inscrit.circuit) }}</td>
              <td>{{ form_widget(inscrit.commentaire) }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        {{ form_widget(form.reset, {'attr': {'data-dismiss': "modal"}}) }}
        {{ form_widget(form.save) }}
      </div>
      {{ form_widget(form, {'attr': {'class': 'hidden'}}) }}
      {{ form_end(form) }}
    </div>
  </div>
</div>
