<div class="modal fade" id="InscriptionRapideModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="myModalLabel">S'inscrire à {{course.getNom()}}</h1>
        <p class="lead">
          Du {{strftime(course.getDate() | date("Y-m-d H:i:s"), "%A %d %B à %H:%M:%S")}}
          <br>À {{course.getLieu()}}
        </p>
      </div>
      <div class="modal-body">
        <p class="lead">Vérifiez les informations ci-dessous et enregistrez !</p>
        {{ form_errors(form) }}
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Puce</th>
              <th>Circuit</th>
              <th>Commentaire</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(form.puce, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(form.circuit, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
