<table class="table table-striped table-hover mt-2">
  <thead>
    <tr style="font-weight:bold;">
      <th>#</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Circuit</th>
      <th>Commentaire</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% set i = 0 %}
    {% for inscrit in inscrits %}
    {% set i = i + 1 %}
    <tr>
      <td>{{i}}</td>
      <td>{{inscrit.nom}}</td>
      <td>{{inscrit.prenom}}</td>
      <td>
        {% if inscrit.circuit != null %}
          {{inscrit.circuit.nom}}
        {% endif %}
      </td>
      <td>{{inscrit.commentaire}}</td>
      {% if (app.user == inscrit.userCreation or app.user == inscrit.userModification) and app.user is not null %}
        <td onclick="unregister( {{inscrit.id}} )">
            <i class="fa fa-times" style="color: red;cursor:pointer;"></i>
        </td>
      {% else %}
        <td></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
