{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12">
  <h1 style="color:{{course.getType().getColor()}}; font-weight:bold">{{course.getNom()}}</h1>
  <p class="lead">
    Retrouvez toutes les informations sur cet événement sur cette page.
  </p>
</div>

<div class="col-md-4">
  <h2>Informations sur la course</h2>
  <ul class="text-list information" style="border-color:{{course.getType().getColor()}}">
    <li><i class="fa fa-map-marker"></i> Lieu <p class="lead" style="color:{{course.getType().getColor()}}; font-weight:bold">{{course.getLieu()}}</p></li>
    <li><i class="fa fa-tag"></i> Type <p class="lead" style="color:{{course.getType().getColor()}}; font-weight:bold">{{course.getType().getNom()}}</p></li>
    <li><i class="fa fa-user"></i> Organisé par <p class="lead" style="color:{{course.getType().getColor()}}; font-weight:bold">{{course.getOrganisateur()}}</p></li>

    <li><i class="fa fa-sign-in"></i> Inscription
      {% if course.getInscription() %}

      {% if is_past(course.getModification() | date("Y-m-d H:i:s")) %}
      <p class="lead" style="color:{{course.getType().getColor()}}; font-weight:bold">Les inscriptions sont closes</p>
      {% else %}
      <p class="lead" style="color:{{course.getType().getColor()}}; font-weight:bold">Sur le site jusqu'au {{strftime(course.getModification() | date("Y-m-d H:i:s"), "%A %d %B à %H:%M:%S")}}</p>
      {% endif %}

      {% else %}
      <p class="lead" style="color:{{course.getType().getColor()}}; font-weight:bold">Voir avec l'organisateur</p>
      {% endif %}
    </li>
    {% if course.getGPS() != null %}
    <li><i class="fa fa-location-arrow"></i> Coordonnées GPS <p class="lead"  style="color:{{course.getType().getColor()}}; font-weight:bold">{{course.getGPS()}}</p></li>
    {% endif %}

    {% if sizeof(course.getCircuits()) > 0 %}
    <li><i class="fa fa-map-signs"></i> Circuits
      <p class="lead"  style="color:{{course.getType().getColor()}}; font-weight:bold">
        {% for circuit in course.getCircuits() %}
        {{circuit.getNom()}} {% if circuit.getInformation() != null %}- {{circuit.getInformation()}} {% endif %}
        {% endfor %}
      </p>
    </li>
    {% endif %}

  </ul>
</div>

<div class="col-md-1">
</div>

<div class="col-md-7">
  <div class="row">
    <h2>L'annonce de course, les horaires, le site, ...</h2>
    <p class="lead">Tous les fichiers importants liés à cette événement.</p>
    {% if course.getSite() != null %}
    <a href="{{course.getSite()}}" class="btn btn-square-toround btn-bordered-primary"><span class="fa fa-info"></span> Site Internet</a>
    {% endif %}

    {% if annonce_exists(course.getId()) %}
    <a href="/files/courses/{{course.getId()}}/annonce.pdf" target="_BLANK" class="btn btn-square-toround btn-bordered-info"><span class="fa fa-flag"></span> Annonce de course</a>
    {% endif %}

    {% for file in get_files(course.getId()) %}
    {% if is_file(file) %}
    <a href="/files/courses/{{course.getId()}}/autres/{{basename(file, '')}}" target="_BLANK" class="btn btn-square-toround btn-bordered-warning"><span class="fa fa-leaf"></span> {{basename(file, '.*')}}</a>
    {% endif %}
    {% endfor %}
  </div>

  {% if course.getInscription() %}
  <div class="row-divider"></div>

  <div class="row">
    <h2>Les inscrits</h2>
    <p class="lead">Ils sont déjà inscrits à cette course.</p>
    {% for successMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-dismissible alert-success">
      {{ successMessage }}
    </div>
    {% endfor %}

    {% for errorMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-dismissible alert-danger">
      {{ errorMessage }}
    </div>
    {% endfor %}

    {% if form.vars.errors is not empty %}
    <div class="alert alert-dismissible alert-danger">
      L'inscription n'a pas pu être effectuée. Vérifiez les valeurs que vous avez saisies.<br/>
      Peut-être que vous êtes déjà inscrit sur cette course ?
      {{ form_errors(form) }}
    </div>
    {% endif %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Circuit</th>
          <th>Commentaire</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set i = 0 %}
        {% for inscrit in course.getInscrits() %}
        {% set i = i + 1 %}
        <tr {% if sizeof(course.getCircuits()) > 0 and inscrit.getCircuit() == null %}class="warning"{% endif %}>
          <td>{{i}}</td>
          <td>{{inscrit.getNom()}}</td>
          <td>{{inscrit.getPrenom()}}</td>
          <td>{% if inscrit.getCircuit() != null %}{{inscrit.getCircuit().getNom()}}{% endif %}</td>
          <td>{{inscrit.getCommentaire()}}</td>
          <td>
            {% if user == inscrit.getUser() %}
            <i class="fa fa-times" style="color: red;cursor:pointer;"></i>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_past(course.getModification() | date("Y-m-d H:i:s")) == false %}
    {% if isConnected %}
    <button data-toggle="modal"
            data-target="#InscriptionRapideModal"
            class="btn btn-square-toround btn-bordered-success">
      <span class="fa fa-user-plus"></span> Inscription rapide
    </button>
    {% endif %}
    <a href="" class="btn btn-square-toround btn-bordered-success"><span class="fa fa-user-plus"></span> S'inscrire</a>
    <a href="/inscription/modification" class="btn btn-square-toround btn-bordered-primary"><span class="fa fa-pencil-square-o"></span> Modifier ses inscriptions</a>
    {% endif %}
  </div>
  {% endif %}

  <div class="row-divider"></div>

  <div class="row">
    <h2>Comment s'y rendre ?</h2>
    <p class="lead">Le plan d'accès vous montre le localisation du point d'accueil de l'événement.</p>

  </div>
</div>

{% if is_past(course.getModification() | date("Y-m-d H:i:s")) == false %}
<div class="modal fade" id="InscriptionRapideModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="myModalLabel">S'inscrire à {{course.getNom()}}</h1>
        <p class="lead">
          Du {{strftime(course.getDate() | date("Y-m-d H:i:s"), "%A %d %B à %H:%M:%S")}}
          <br>À {{course.getLieu()}}
        </p>
      </div>
      <div class="modal-body">
        <p class="lead">Vérifiez les informations ci-dessous et enregistrez !</p>
        {{ form_errors(form) }}
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Puce</th>
              <th>Circuit</th>
              <th>Commentaire</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(form.puce, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(form.circuit, {'attr': {'class': 'form-control'}}) }}</td>
              <td>{{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
