<div class="col-md-9">
  <h3 style="color:{{color}};font-weight:bold">{{course.nom}}</h3>
  <ul class="text-list information" style="border-color: {{color}}">
    <li><i class="fa fa-map-marker"></i> Lieu <b style="color:{{color}}">{{course.lieu}}</b></li>

    <li><i class="fa fa-tag"></i> Type <b style="color:{{color}}">{{course.type.nom}}</b></li>

    <li><i class="fa fa-user"></i> Organisé par <b style="color:{{color}}">{{course.organisateur}}</b></li>

    {% if course.inscription %}
    <li><i class="fa fa-sign-in"></i> Inscription <b style="color:{{color}}">Sur le site jusqu'au {{course.modification | date('d/m/Y à H:i:s')}}</b></li>
    {% else %}
    <li><i class="fa fa-sign-in"></i> Inscription <b style="color:{{color}}">Voir avec l'organisateur</b></li>
    {% endif %}

    {% if course.site != null %}
    <li><i class="fa fa-at"></i> Site Internet <b><a target="_BLANK" href="{{course.site}}" style="color:{{color}}; text-decoration:underline;">{{course.site}}</a></b></li>
    {% endif %}

    {% include 'lists/lists.file_events.html.twig' %}
  </ul>
</div>
