{% extends 'base.html.twig' %}

{% block body %}
{% include 'user/session/information.html' %}

<div class="col-md-7">
  <div class="row">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
      <h2>Se connecter sur le site</h2>
      <p class="lead">Vous avez déjà un compte, identifiez-vous !</p>
      {{ form_errors(form) }}

      {% include 'alerts/alerts.form_validation.html.twig' %}

      <div class="row">
        <div class="form-group">
          {{ form_label(form.username, "Pseudo", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

          <div class="col-sm-6">
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.username) }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          {{ form_label(form.plainPassword, "Mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

          <div class="col-sm-6">
            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.plainPassword) }}
          </div>
        </div>
      </div>

      <div class="row">
        <button class="btn btn-default" type="reset">Annuler</button>
        <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#ModalPasswordLost">Mot de passe oublié ?</button>
        <button class="btn btn-success" type="submit">Se connecter</button>
      </div>
      <div class="row">
      </div>
    </fieldset>
    {{ form_end(form) }}
  </div>

  <div class="row-divider">
  </div>

  <div class="row">
    <h2>Se créer un compte</h2>
    <p class="lead">Vous n'avez pas encore de compte, et vous souhaitez en créer un ?</p>
    <div class="row">
      <a href="/register" class="btn btn-primary">Créer un compte</a>
    </div>
  </div>
</div>

{% include 'modals/modal.password_lost.html.twig' %}
{% endblock %}
