{% extends 'base_admin.html.twig' %}

{% block body %}
<div class="col-md-12">
  <h1>Administration de l'archive fédérale</h1>
  <p class="lead">Attention, la mise à jour de l'archive peut prendre du temps, et l'opération doit être faite intégralement.</p>
  <div class="row">
    {% for successMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-dismissible alert-success">
      {{ successMessage }}
    </div>
    {% endfor %}

    {% for errorMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-dismissible alert-danger">
      {{ errorMessage }}
    </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
      {{ form_errors(form) }}

      <div class="row">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
      </div>
    </fieldset>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
