{% extends 'base_admin.html.twig' %}

{% block body %}
<div class="col-md-12">
  <h1>Administration des utilisateurs</h1>
</div>
<div class="col-md-3">
  <div class="list-group">
    {% for u in users %}
    <a href="/admin/inscription/utilisateur/{{u.id}}/" class="list-group-item {% if form.vars.data.id == u.id %}active{% endif %}">
      {{u.username}}
    </a>
    {% endfor %}
  </div>
</div>

<div class="col-md-1">
</div>

<div class="col-md-6">
  <div class="row">
  {% include 'alerts/alerts.form_validation.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
      <h2>Consultation d'un profil utilisateur</h2>
      <p class="lead">Vous pouvez uniquement supprimer un utilisateur ou lui donner les droits d'administration.</p>
      {{ form_errors(form) }}

      <div class="row">
        <div class="form-group">
          {{ form_label(form.username) }}

          <div class="col-sm-6">
            {{ form_widget(form.username, {'attr': {'disabled': 'disabled'}}) }}
            {{ form_errors(form.username) }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          {{ form_label(form.email) }}

          <div class="col-sm-6">
            {{ form_widget(form.email, {'attr': {'disabled': 'disabled'}}) }}
            {{ form_errors(form.email) }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          {{ form_label(form.license) }}

          <div class="col-sm-6">
            {{ form_widget(form.license) }}
            {{ form_errors(form.license) }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          {{ form_label(form.nom) }}

          <div class="col-sm-6">
            {{ form_widget(form.nom, {'attr': {'disabled': 'disabled'}}) }}
            {{ form_errors(form.nom) }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          {{ form_label(form.prenom) }}

          <div class="col-sm-6">
            {{ form_widget(form.prenom, {'attr': {'disabled': 'disabled'}}) }}
            {{ form_errors(form.prenom) }}
          </div>
        </div>
      </div>

      <div class="row">
        {% if form.vars.data.id %}
        {{ form_widget(form.reset) }}
        {{ form_widget(form.delete) }}
        {{ form_widget(form.save) }}
        <button class="btn btn-primary" type="submit">Donner les droits d'administration</button>
        {% endif %}
      </div>
    </fieldset>
    {{ form_widget(form, {'attr': {'class': 'hidden'}}) }}
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
