{% extends '::base.html.twig' %}

{% block title %}
    {% include '::Navbar/title.html.twig' with {'title': "Les contacts", 'subtitle': "Vous voulez plus d'informations ? Contactez-nous !"} %}
{% endblock %}

{% block content %}

{% for contact in contacts %}
<div class="col-md-4">
	<div class="box">
		<div class="box-icon">
			<span class="fa fa-4x fa-user"></span>
		</div>
		<div class="text-center">
      <h2>{{contact.getFonction()}}</h2>
			<h3>{{contact.getPrenom}} {{contact.getNom()}}</h3>

			<p>
				<b><i class="fa fa-envelope-o"></i> Adresse</b>
        <br/>
        {{contact.getAdresse()}}
        <br/><br/>
        <b><i class="fa fa-at"></i> Mail</b>
        <br/>
        <a href="/contacter/{{contact.getId()}}" class="btn btn-success">
          <i class="fa fa-pencil-square-o"></i> Envoyer un mail
        </a>
			</p>

		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
