{% extends 'AdminBundle::form_default.html.twig' %}

{% block modal_title %}Édition d'un inscrit{% endblock %}

{% block modal_body %}
<div class="row">
    <div class="form-group">
        {{ form_label(form.nom) }}
        <div class="col-sm-9">
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        {{ form_label(form.prenom) }}
        <div class="col-sm-9">
            {{ form_widget(form.prenom) }}
            {{ form_errors(form.prenom) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        {{ form_label(form.puce) }}
        <div class="col-sm-9">
            {{ form_widget(form.puce) }}
            {{ form_errors(form.puce) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        {{ form_label(form.circuit) }}
        <div class="col-sm-9">
            {{ form_widget(form.circuit) }}
            {{ form_errors(form.circuit) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        {{ form_label(form.commentaire) }}
        <div class="col-sm-9">
            {{ form_widget(form.commentaire) }}
            {{ form_errors(form.commentaire) }}
        </div>
    </div>
</div>


{% endblock %}

{% block path_add %}"{{ path('inscrit_add') }}"{% endblock %}
